.col-level1 {
  border: solid;
  padding-left: 10px;
  padding-right: 10px;
}

.col-border {
  border: solid;
  border-color: lightblue;
}

.row-inner {
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-log-body {
  overflow-y: scroll;
  height:725px;
}

.game-log-item {
  font-family: monospace;
  border-style: none;
  padding-top: 2px;
  padding-bottom: 0px;
}

.pitch-log-body {
  overflow-y: auto;
  height:307px;
  padding: 5px;
}

.pitch-log-item {
  font-family: monospace;
  border-style: none;
  padding: 0px;
}

.lineup-card {
  font-family: monospace;
  font-size: 120%;
}

.form-group.row {
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
  margin-left: 2px;
  margin-right: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 7px;
  vertical-align: middle;
}

.form-group-multirow {
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
  margin-left: 2px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.form-group.row.form-group-inner {
  border-style: none;
}
